.error{
    color: #cc0000;
}

.edit{
    padding: 3px;
    transition: all .5s;
    border: 1px solid rgba(82, 168, 236, .5);
}
.edit:focus{
    border: 1px solid rgba(82, 168, 236, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.9);
    outline: 0 none;
}